@import 'variables';
@import 'reset';

body {
	font-family: $roboto;
	display: flex;
	justify-content: center;
	background-color: $backround-black;
}

.board {
	display: flex;
	flex-direction: column;

	@media (min-width: 67rem) {
		flex-direction: row;
	}

	.column {
		
		margin: 0.625rem;
		padding: 0.625rem;
		min-width: 15.625rem;
        max-width: 21.875rem;
		border: 0.063rem solid $border-thin-white;
		border-radius: 0.313rem;
		background-color: $backround-navy-blue;

		.innerColumnForTasks {
			width: 100%;
			height: calc(100% - 3.125rem);
			
		}
		.column-title {
			display: flex;
			justify-content: space-between;
			font-family: $roboto;
			font-size: 1.125rem;
			margin: 0 0 2.5rem 0;
			color: $neutral-white;

			.task-count {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 1.25rem;
				height: 1.25rem;
				margin: 0 0.625rem;
				background-color: $neutral-white;
				color: $backround-navy-blue;
				border-radius: 50%;
				font-size: 0.875rem;
			}
		}
		
	}

	.task-form {
		display: flex;
		flex-direction: column;
		min-width: 15.625rem;
		height: 15rem;
		margin: 0.625rem;
		background-color: $backround-black;
		border: 0.063rem solid $border-thin-white;
		border-radius: 0.313rem;

		.task-input {
			height: 2.8rem;
			color: $neutral-white;
			margin: 0.625rem;
			padding: 0.625rem;
			border: 0.063rem solid $border-thin-white;
			border-radius: 0.25rem;
			background-color: $backround-black;
			cursor: pointer;
			&:focus {
				outline: 0.094rem solid $neutral-white;
			}
		}

		.add-task-btn,
		.clear-tasks-btn {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			margin: 1.25rem 0.625rem 0.625rem 0.625rem;
			padding: 0.625rem;
			font-family: $roboto;
			font-weight: 600;
			font-size: 1.125rem;
			border-radius: 0.313rem;
			border: 0.063rem solid $border-thin-white;
			background-color: $backround-black;
			color: $neutral-white;
			cursor: pointer;
			transition: background-color 0.3s;
			&:hover {
				background-color: $column-color;
			}

			i {
				font-size: 1.25rem;
			}
		}

		.clear-tasks-btn {
			&:hover {
				background-color: $neutral-red;
			}
		}
	}

	.task {
		height: 2.8rem;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		color: $neutral-white;
		margin: 0.625rem 0;
		padding: 0 0.625rem;
		border: 0.063rem solid $border-thin-white;
		border-radius: 0.313rem;
		background-color: $backround-black;
		cursor: pointer;
		transition: background-color 0.3s;
        overflow-y: scroll;

		&:hover {
			background-color: $backround-navy-blue;
		}

		.task-content {
			font-weight: 600;
            padding-right: 1.25rem;
			
		}

		.delete-button {
			display: flex;
			align-items: center;
			justify-content: center;
			
			width: 1.25rem;
			height: 1.25rem;
			font-size: 1.25rem;
			color: $neutral-white;
			background-color: $backround-black;
			border-radius: 50%;
			border: none;
			transition: background-color 0.3s, color 0.3s, border 0.2s;
			cursor: pointer;

			&:hover {
				background-color: $neutral-white;
				color: $backround-black;
				border: 0.125rem solid $backround-black;
			}
		}
		.edit-button {
			
			height: 1.25rem;
			width: 1.25rem;
			border-radius: 5px;
			border: none;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;
			&:hover {
				background-color: black;
				color: white;
				
			}
		}
	}
}

.is-dragging {
	opacity: 0.3;
}

//modal style


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    background-color: rgba(18, 17, 17, 0.5);
    animation: fadeIn .3s ease-in-out forwards; 

    

    &-content {
        display: flex;
        align-items: end;
        flex-direction: column;
        background-color: $backround-black;
        margin: 10% auto;
        padding: 1rem 1.5rem 1.5rem 1.5rem;
        border: 0.063rem solid $neutral-white;
        border-radius: 1rem;
        width: 17rem;
        height: 13rem;

        .form-control {
            width: 100%;
            height: 2.8rem;
            color: $neutral-white;
            padding: 0.625rem;
            border: 0.063rem solid $border-thin-white;
            border-radius: 0.25rem;
            background-color: $backround-black;
            cursor: pointer;

            &:focus {
                outline: 0.094rem solid $neutral-white;
            }
        }

        .close {
			background-color: $backround-black;
			border: none;
            color: $neutral-white;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            transition: color .3s;
			cursor: pointer;

            &:hover {
                color: $border-thin-white;
                
            }
        }

        .saveBtn {
            width: 100%;
            height: 2.8rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;
            padding: 0.625rem;
            font-family: $roboto;
            font-weight: 600;
            font-size: 1.125rem;
            border-radius: 0.313rem;
            border: 0.063rem solid $border-thin-white;
            background-color: $backround-black;
            color: $neutral-white;
            cursor: pointer;
            transition: background-color .3s;

            &:hover {
                background-color: $column-color;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.hideModal {
	animation: fadeOut .3s ease-in-out forwards;
}

// alert modal style

.alertModal {
	display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
	background: linear-gradient(356deg, rgba(0,0,0,1) 20%, rgba(195,34,34,0.3) 100%);
    animation: fadeIn .3s ease-in-out forwards; 
	.alert-content {
		display: flex;
        align-items: end;
        flex-direction: column;
        background-color: $backround-black;
        margin: 10% auto;
        padding: 1rem 1.5rem 1.5rem 1.5rem;
        border: 0.063rem solid $neutral-white;
        border-radius: 1rem;
        width: 17rem;
        height: 13rem;
		.closeAlert {
			background-color: $backround-black;
			border: none;
            color: $neutral-white;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            transition: color .3s;
			cursor: pointer;

            &:hover {
                color: $border-thin-white;
                
            }
        }
		.alert-text {
			margin-top: 2rem;
			align-self: center;
			font-family: $roboto;
            font-weight: 600;
            font-size: 1.125rem;
			color: $neutral-white;
		}
	}
}