@import 'variables';
@import 'reset';

body {
	font-family: $roboto;
	display: flex;
	justify-content: center;
	background-color: $backround-black;
}

.board {
	display: flex;
	flex-direction: column;

	@media (min-width: 67rem) {
		flex-direction: row;
	}

	.column {
		
		margin: 0.625rem;
		padding: 0.625rem;
		min-width: 15.625rem;
        max-width: 21.875rem;
		border: 0.063rem solid $border-thin-white;
		border-radius: 0.313rem;
		background-color: $backround-navy-blue;

		.innerColumnForTasks {
			width: 100%;
			height: calc(100% - 3.125rem);
			background-color: red;
		}
		.column-title {
			display: flex;
			justify-content: space-between;
			font-family: $roboto;
			font-size: 1.125rem;
			margin: 0 0 2.5rem 0;
			color: $neutral-white;

			.task-count {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 1.25rem;
				height: 1.25rem;
				margin: 0 0.625rem;
				background-color: $neutral-white;
				color: $backround-navy-blue;
				border-radius: 50%;
				font-size: 0.875rem;
			}
		}
		
	}

	.task-form {
		display: flex;
		flex-direction: column;
		min-width: 15.625rem;
		height: 15rem;
		margin: 0.625rem;
		background-color: $backround-black;
		border: 0.063rem solid $border-thin-white;
		border-radius: 0.313rem;

		.task-input {
			height: 2.8rem;
			color: $neutral-white;
			margin: 0.625rem;
			padding: 0.625rem;
			border: 0.063rem solid $border-thin-white;
			border-radius: 0.25rem;
			background-color: $backround-black;
			cursor: pointer;
			&:focus {
				outline: 0.094rem solid $neutral-white;
			}
		}

		.add-task-btn,
		.clear-tasks-btn {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 1.25rem 0.625rem 0.625rem 0.625rem;
			padding: 0.625rem;
			font-family: $roboto;
			font-weight: 600;
			font-size: 1.125rem;
			border-radius: 0.313rem;
			border: 0.063rem solid $border-thin-white;
			background-color: $backround-black;
			color: $neutral-white;
			cursor: pointer;
			transition: background-color 0.3s;
			&:hover {
				background-color: $column-color;
			}

			i {
				font-size: 1.25rem;
			}
		}

		.clear-tasks-btn {
			&:hover {
				background-color: $neutral-red;
			}
		}
	}

	.task {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $neutral-white;
		margin: 0.625rem 0;
		padding: 0 0.625rem;
		border: 0.063rem solid $border-thin-white;
		border-radius: 0.313rem;
		background-color: $backround-black;
		cursor: pointer;
		transition: background-color 0.3s;
        overflow-y: scroll;

		&:hover {
			background-color: $backround-navy-blue;
		}

		.task-content {
			font-weight: 600;
            padding-right: 1.25rem;
		}

		.delete-button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 1.25rem;
			height: 1.25rem;
			font-size: 1.25rem;
			color: $neutral-white;
			background-color: $backround-black;
			border-radius: 50%;
			border: none;
			transition: background-color 0.3s, color 0.3s, border 0.2s;
			cursor: pointer;

			&:hover {
				background-color: $neutral-white;
				color: $backround-black;
				border: 0.125rem solid $backround-black;
			}
		}
	}
}

.is-dragging {
	opacity: 0.3;
}


