@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

$roboto: 'Roboto', sans-serif;



// Primary Colors
$primary-strong-cyan: hsl(172, 67%, 45%);

// Neutral Colors
$neutral-very-dark-cyan: hsl(183, 100%, 15%);
$neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
$neutral-grayish-cyan: hsl(184, 14%, 56%);
$neutral-light-grayish-cyan: hsl(185, 41%, 84%);
$neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
$neutral-white: hsl(0, 0%, 100%);
$border-thin-white: rgba(255, 255, 255, 0.8);
$neutral-red: hsla(12, 96%, 50%, 0.499);
$backround-black: #020202;
$backround-navy-blue: #252935;
$column-color: #242834;
